/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }
}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: $type-size-5;
  color: mix(#fff, $gray, 25%);
  border-bottom: 1px solid $border-color;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: $sans-serif-narrow;

  a + a {
    opacity: 0.5;
  }
}

/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }
}

.archive__item-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.archive__item:hover {
  .archive__item-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }

  .archive__item-title {
    text-decoration: underline;
  }
}

.card {
  min-height: 6em;
  width: 99%;
  margin: 1.5em 0.5em;
  max-width: 100%;
  @include breakpoint($medium) {
    aspect-ratio: 3.5;
  }
  box-shadow: rgba(200, 200, 200, 0.25) 0px 14px 28px, rgba(200, 200, 200, 0.22) 0px 10px 10px;
	background: rgba(30, 30, 30, 0.85);
	border-radius: 1em;
  padding: 2em;
  align-items: flex-start;
  display: flex;
  box-sizing: border-box;
  --bg-filter-opacity: 0.3;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(12,12,12,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
	position: relative;
  transition: all 1s cubic-bezier(.33,.11,.02,.99);
  text-decoration: none;
  
  h3 {
    transition: inherit;
    text-shadow:rgba(200, 200, 200, 0.25) 0px 14px 28px, rgba(200, 200, 200, 0.22) 0px 10px 10px;
    text-align: left;
    margin-bottom: 0;
    transform: translateY(0px);
    font-size: $type-size-4;
    @include breakpoint($large) {
      font-size: $type-size-3;
      margin-top: 2em;
    }
    @include breakpoint($x-large) {
      font-size: $type-size-2;
      margin-top: 0.5em;
    }
    color: $snow-color;
    font-family: $global-font-family;
    text-decoration: none;
  }

  p {
    transition: inherit;
    text-shadow:rgba(200, 200, 200, 0.4) 0px 7px 14px, rgba(200, 200, 200, 0.4) 0px 5px 5px;
    font-size: $type-size-5;
    color: $snow-color;
    text-decoration: none;
    @include breakpoint($large) {
      margin-top: 0;
    }
  }

  &:hover {
    @include breakpoint($medium) {
      aspect-ratio: 3.3;
    }
      text-decoration: none;
    border-color: $border-color;
    box-shadow: 0 4px  4px  rgba(200, 200, 200, .35),
                0 1px  6px  rgba(200, 200, 200, .20),
                0 8px  8px  rgba(200, 200, 200, .25), 
                0 16px 16px rgba(200, 200, 200, .25), 
                8px 32px 32px rgba(200, 200, 200, .35), 
                8px 64px 64px rgba(200, 200, 200, .35); 
 
    transform: scale(1.03)
              translateY(-10px);
    .content h3 {
      text-shadow:rgba(200, 200, 200, 0.2) 0px 14px 28px, rgba(200, 200, 200, 0.2) 0px 10px 10px;
      transform: translateY(-10px);
      text-decoration: none;
    }

    .content sci{
      text-decoration: none;
    }
    .hidden_item {
      opacity: 1;
      transform: translateY(0px);
    }
    .date {
      opacity: 1;
    }
    .sci {
      opacity: 1;
    }
   }

   &:active {
    box-shadow: 0 4px  4px  rgba(200, 200, 200, .1),
                0 1px  6px  rgba(200, 200, 200, .05),
                0 8px  8px  rgba(200, 200, 200, .1), 
                0 16px 16px rgba(200, 200, 200, .1), 
                8px 16px 16px rgba(200, 200, 200, .15), 
                8px 32px 32px rgba(200, 200, 200, .15); 
   }
   .hidden_item {
    opacity: 0;
    margin: 0 auto;
    transform: translateY(10px);
    transition: 2s cubic-bezier(.33,.11,.02,.99);
  }
  .content {
    transform: translateY(0px);
    transition: inherit;
  }

  .date {
    transition: inherit;
    // font-family: $tag-font-family;
    position: absolute;
    bottom: -0.5em;
    right: 1em;
    line-height: 1.5em;
    opacity: 0;
  }

  .readtime {
    // font-family: $tag-font-family;
    // font-size: $type-code-size;
    padding: 0;
  }
  .sci {
    transition: inherit;
    opacity: 0;
    margin: 0;
  }

}

/*
   List view
   ========================================================================== */

.list__item {
  @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 4px;
  }
}


/*
   Grid view
   ========================================================================== */

.grid__item {
  margin-bottom: 2em;

  .page__meta {
    margin: 0 0 4px;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;
  }

  @include breakpoint($small) {
    @include gallery(5 of 10);
    .archive__item-teaser {
      max-height: 200px;
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* reset before mixin does its thing*/
    margin-right: 0; /* reset before mixin does its thing*/
    @include gallery(2.5 of 10);

    .archive__item-teaser {
      max-height: 120px;
    }

    .archive__item-excerpt {
      display: block;
      font-size: $type-size-6;
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        @include span(5 of 12);
      }

      .archive__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        @include span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}
