/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  // position: relative;
  // background: white;
  // border-bottom: 1px solid $border-color;
  // height: $masthead-height;
  // top: 0;
  // width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  // -webkit-animation-delay: 0.15s;
  //         animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
  /* Add styles for the dropdown menu */
  .hidden-links {
    position: absolute; /* Position the dropdown */
    z-index: 1000; /* Ensure it appears above the "long cover" */
    background: white; /* Optional: for visibility */
    box-shadow: $beige-color; /* Optional: for styling */
  }

  /* Ensure the hidden-links is visible when the hidden class is removed */
  .hidden-links:not(.hidden) {
    display: block; /* Ensure it’s visible when the hidden class is toggled off */
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  padding: 0.5em;
  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}